name: YAML Lint

on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  yamllint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2

      - name: Setup Python
        uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405  # v6.2.0
        with:
          python-version: "3.12"

      - name: Install yamllint
        run: python -m pip install --upgrade pip yamllint

      - name: Run yamllint
        run: |
          yamllint -c .yamllint.yml \
            .github/workflows \
            .github/dependabot.yml \
            .github/release.yml \
            .github/ISSUE_TEMPLATE
